<form
  class="flex flex-col flex-wrap justify-start items-center gap-2"
  (ngSubmit)="addToCart(product)"
>
  <div>
    <div>
      <select
        class="w-[108px]"
        name="productAmount"
        [(ngModel)]="productAmount"
        (ngModelChange)="handleSelectedAmount(productAmount)"
      >
        <option [value]="0" disabled selected>Amount</option>
        <option *ngFor="let number of [1, 2, 3, 4, 5, 6]" [value]="number">
          {{ number }}
        </option>
      </select>
    </div>

    <div>
      <button
        [disabled]="productAmount === 0"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': productAmount === 0
        }"
        type="submit"
        class="text-white py-2 px-6 rounded-md bg-blue-500 hover:bg-blue-600 mt-3"
      >
        Add to Cart
      </button>
    </div>
  </div>
</form>
